.main {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 600px;
    background: $white-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 2px 14px rgba(0, 0, 0, 0.06);
    border-radius: 3px;

    .title {
        height: 100px;

        > h1 {
            position: relative;
            top: 40px;
            left: 26px;
            height: max-content;
            margin: 0;

            @include text-styles(24px, 28px, bold, $--primary-text-color);
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 0;

        &__route {
            display: grid;
            grid-template-columns: 172px 380px;
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
            align-items: baseline;
            min-height: 100px;
            margin-bottom: 40px;

            > p, div {
                @include text-styles(14px, 19px, bold, $--primary-text-color);
            }
        }
    }

    .submit {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 64px;
        padding-right: 24px;

        background: #f4f4f4;
        border-radius: 0px 0px 3px 3px;

        &__button {
            @include text-styles(14px, 16px, bold, $white-color);

            height: 32px;
            width: 103px;
            text-align: center;
            text-transform: uppercase;

            background: $green-color;
            border-radius: 3px;
            border: none;
        }

        &__button:hover {
            cursor: pointer;
        }
    }
}
