select {
    background: $white-color;
    border: 1px solid #dcdee0;
    border-radius: 3px;
    height: 32px;
}

select, option {
    @include text-styles(14px, 19px, bold, $--primary-text-color);
}

.label__vehicle {
    @include text-styles(14px, 19px, bold, $--primary-text-color);

    .required {
        color: $red-color;
    }
}
